$black-normal: #000;
$black-dark: #050607;
$black-light: #14171a;

$white-normal: #fff;
$white-dark: #edeff0;
$white-light: #fafcfc;

$green-normal: #00FF00;
$green-dark: #00FF57;
$green-light: #3FFF8C;

$gray-1: #777;

.color-gray{
    color: $gray-1;
}